
/* Styling for form container */
#paymentForm {

    margin: 50px auto 0;
    padding-bottom: 50px;
  }
  
 
 
  
  /* Styling for submit button */
  .form-submit button {
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-submit button:hover {
    background-color: green;
  }
  body{
    background-size:cover;
    background-repeat: no-repeat;
  }

  .display-order .vat{
    margin-top: 2rem;
    font-size: 2.5rem;
    color:var(--light-color);
 }
 
 .display-order .vat span{
    color:red;
 }
